nav{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.title{
    font-size: 20px;
    font-weight: bold;
}
.btn{
    margin-right: 20px;
    color: white;
    background-color: green;
    font-size: 15px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:active {
    transform: translateY(10px); /* Adjust the value as needed */
  }



.userProfile{
    transition: all ease;
    background-color: #2a1bf8;
    border: none;
    color: white;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    margin: -10px 2px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.15s ease;
}

.userProfile:active {
    transform: translateY(10px); /* Adjust the value as needed */
  }